.tabs {
	display: flex;
	align-items: center;
	gap: 0.8em;
	width: 100%;
	overflow: scroll;
}

.tabs_tab_box {
	border: 1px solid var(--green-accent-border);
	text-align: center;
	padding: 0.5em 1em;
	width: 8em;
	cursor: pointer;
}

.tabs_tab_box.select {
	border: 1px solid var(--green-accent);
}
