.blog {
	min-height: 100vh;
}

.blog_width {
	max-width: 70vw;
	margin: 0 auto;
}

.blog_banner {
	height: 30em;
	font-family: Lato, sans-serif;
	position: relative;
	background: #304B47;
}

.blog_banner_image_container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.blog_banner_image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.blog_banner_image_container:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--secondary-dark-overlay);
}

.blog_banner_wrapper {
	position: relative;
	color: #fff;
	height: 100%;
}

.blog_banner_data_card {
	position: absolute;
	bottom: 10%;
	left: 0;
}

.blog_banner_tags {
	display: flex;
	gap: 0.5em;
}

.blog_banner_tag {
	background: #FFFFFF33;
	color: #fff;
	min-width: 6em;
	padding: 0.5em 1.5em;
	text-align: center;
	border-radius: 2px;
	font-size: 0.9em;
}
