.infocard_main {
	color: white;
}

.infocard_tags{
	display: flex;
	gap: 1em;
	list-style: none;
}

.infocard_tags li {
	font-size: 0.8em;
	padding: 0.5em 2em;
	background: #FFFFFF66;
	border-radius: 2px;
}

.infocard_title {
	color: #E6E6E6;
	font-size: 2em;
	line-height: 0.9em;
	font-weight: 400;
	margin-top: 0.5em;
}

.infocard_description {
	font-size: 1em;
	margin-top: 0.5em;
}

.infocard_timestamp {
	font-size: 0.8em;
	margin-top: 0.5em;
}

.infocard_bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 1em;
}

.infocard_bottom_image {
	width: 3em;
	height: 3em;
	background: #fff;
	border-radius: 50px;
}

.infocard_bottom_left {
	display: flex;
	align-items: center;
	gap: 1em;
}

.infocard_bottom_right {
	font-size: 0.8em;
	padding: 0.5em 2em;
	background: #000;
	color: #fff;
	border-radius: 4px;
}
