.search_input {
  background: transparent;
  display: flex;
  outline: none;
  border: none;
  font-family: Roboto, sans-serif;
  font-weight: 200;
  max-width: 90vw;
  font-size: 5em;
  text-align: center;
  border-bottom: solid 2px #ffffff69;
  color: #ffffffb9;
}

.search_icon{
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	align-items: center;
	height: 100%;
}

.search_icon svg{
	width: 5em;
}

.search_input::selection {
  background: #ffffff31;
}

.search_input::placeholder {
	font-weight: 100;
	color: #ffffffcc;
}

@media only screen and (max-width: 1000px) {
  .search_input {
    font-size: 4em;
  }
  .search_icon svg{
	width: 4em;
  }
}

@media only screen and (max-width: 768px) {
  .search_input {
    font-size: 3em;
  }
  .search_icon svg{
	width: 3em;
  }
}

@media only screen and (max-width: 530px) {
  .search_input {
    font-size: 2.5em;
  }
  .search_icon svg{
	width: 1.9em;
  }
}
