.loading_image_container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.loader_svg_wave {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.loader_wave_wrapper {
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
}

.loader_svg_wave svg {
	width: 11.8em;
	height: auto;
	animation: loader_wave linear 1s infinite;
}

.loader_image_dots {
  display: inline-block;
  position: relative;
  width: 5em;
  height: 5em;
  background: var(--green-primary);
  border-radius: 5px;
}

.loader_image_dots div {
  position: absolute;
  top: 1.7em;
  width: 0.8em;
  height: 0.8em;
  border-radius: 50%;
  background: var(--white-primary);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loader_image_dots div:nth-child(1) {
  left: 0.7em;
  animation: loader_dots1 0.6s infinite;
}

.loader_image_dots div:nth-child(2) {
  left: 0.7em;
  animation: loader_dots2 0.6s infinite;
}

.loader_image_dots div:nth-child(3) {
  left: 2.1em;
  animation: loader_dots2 0.6s infinite;
}

.loader_image_dots div:nth-child(4) {
  left: 3.5em;
  animation: loader_dots3 0.6s infinite;
}

@keyframes loader_dots1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loader_dots3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loader_dots2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
@keyframes loader_wave {
	0%{
		transform: translateX(0);
	} 100% {
		transform: translateX(-50%);
	}
}

