* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Roboto", sans-serif;
  --white-primary: #F4F7FF;
  --white-primary-alpha: #F4F7FF31;
  --white-background: #E9F1F0;
  --white-accent: #9A9A9AA8;;
  --dark-background: #191919;
  --black-primary: #000000;
  --green-accent: #21746A;
  --green-accent-alpha: #21746A31;
  --dark-overlay: #00000079;
  --secondary-dark-overlay: #000000a3;
}

body {
  background: rgb(19, 19, 19);
  background: var(--white-background);
  min-height: 100vh;
  min-height: calc(var(--vh,1vh) * 100);
}

.boxwidth {
  max-width: 85vw;
  margin: auto;
}

.main{
  padding-top: 5em;
}

a {
  text-decoration: none;
  color: inherit;
}

*::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 530px) {
  .background__card__blog {
    bottom: 5em;
  }
}

@media only screen and (max-width: 480px) {
  :root {
    font-size: 13px;
  }
}

@media only screen and (max-width: 321px) {
  :root {
    font-size: 11px;
  }
}
