.form input,
.form button{
    background: none;
    outline: none;
    border: none;
    width: 100%;
}

.auth_input{
    background: rgba(81, 81, 81, 0.589);
	background: var(--green-accent-alpha);
    padding: 0.7em 1em 0.7em 1em;
    margin-bottom: 0.5em;
	border-radius: 5px;
}

.auth_input input{
    color: var(--black_primary);
}

.auth_button button{
    padding: 0.7em 1em 0.7em 1em;
    margin-bottom: 0.5em;
    background: rgba(255, 255, 255, 0.882);
	background: var(--green-accent);
	color: var(--white-primary);
	border-radius: 5px;
	cursor: pointer;
}

.auth_bottom{
    text-align: center;
    color: var(--black-primary);
}

.auth_bottom a {
	font-weight: 800;
    color: var(--green-accent);
}
